html{
	height: 100%;
}
body{
	background-color: #717181; 
	margin:0; 
	padding:0; 
	height:100%;
}

.title{
	color: #E1E1E1; 
	font-size: 48px; 
	text-align: center; 
	margin-top: 0; 
	padding-top: 20px;
}
#hostJoin{
	min-height: 100%; 
	position:relative;
}
#hostJoinInnerDiv{
	width: 250px;   
	margin-top: 10px !important; 
	margin-bottom: 10px !important; 
	text-align: center; 
	margin: auto;
}
#idInput{
	text-align: center; 
	border-radius: 4px;
}
#win{
	font-size: 42px;
	color: #00DD00;
	text-align: center;
}
#lose{
	font-size: 42px;
	color: #EE0000;
	text-align: center;
}
#join{
	margin-top: 10px; 
	width: 250px;  
	text-align: center; 
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
	font-weight: 800; 
	font-size: 16px;
}
footer{
	font-size: 24px; 
	text-align: center; 
	color: #4B4B4B; 
	position:absolute; 
	bottom:0; 
	width:100%;
	height:60px; 
	background:#E1E1E1;
}
#msg{
	text-align: center;
	font-size: 32px;
	padding-top: 10px;
	color: #E1E1E1;
}
#outerCreate{
	margin-top: 15px;
}
#innerCreate{
	cursor: pointer; 
	color: #91AAB0;
}



#namePassTitle{
	text-align: center; 
	color: #E1E1E1; 
	font-size: 24px;
}
#namePassContainer{
	border-radius: 5px; 
	width: 25%; 
	margin: auto; 
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
	padding: 15px;
}
#passwordInput, #secondsInput, #secondsLabel, #livesInput, #livesLabel, #nameInput{
	width: 100%; 
	margin-left: 15%;
}
#namePassSubmitContainer{
	margin-bottom: 10px;
}
#submitNamePassword{ 
	text-align: center; 
	background-color: #4B4B4B; 
	color: white; 
	border-color: #4B4B4B; 
	font-weight: 800; 
	font-size: 16px; 
	width: 100%; 
	margin-left: 35%;
}



#gameBoard, #gameLobby{
	height: 100%;
}
#timerContainer{
	text-align: center; 
	border-radius: 5px; 
	height: 15vmin; 
	width: 15vmin;  
	position: absolute; 
	left: 5px; 
	top: 5px; 
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B;
}
#rulesContainer, #rulesContainer2{
	font-weight: 700;
	font-size: 24px;
	padding-top:10px;
	text-align: center; 
	border-radius: 5px; 
	height: 15vmin; 
	width: 15vmin;  
	position: absolute; 
	float: right; 
	right: 5px; 
	top: 5px; 
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
}
#playersContainer{
	overflow-y: scroll; 
	overflow-x: hidden;
	text-align: center; 
	border-radius: 5px; 
	width: 15%; 
	height: 75vh; 
	position:absolute; 
	top: 20vmin; 
	float: right; 
	right: 5px;  
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
}
#playersContainerLobby{
	overflow-x: hidden;
	text-align: center; 
	border-radius: 5px; 
	width: 15%; 
	height: 75vh; 
	position:absolute; 
	top: 20vmin; 
	float: right; 
	right: 5px;  
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
}
#playersInnerDiv, #playersInnerDivLobby{
	text-align: left;
}
#ads{
	text-align: center; 
	border-radius: 5px; 
	width: 15%; 
	height: 75vh; 
	position:absolute; 
	top: 20vmin; 
	float: left; 
	left: 5px;  
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B;
	
}
#outerMsgContainerLobby{
	border-radius: 5px; 
	width: 65%;  
	height: 80%; 
	margin: auto; 
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
	padding-top: 1vh;
}
#innerMsgContainerLobby{
	border-radius: 5px; 
	width: 98%;
	margin: auto; 
	height: 80%;   
	background-color: white; 
	color: #4B4B4B; 
	font-size: 42px; 
	text-align: center; 
	border-color: #4B4B4B; 
}
#readyPlayersDiv{
	text-align: left;
	font-size: 24px;
	width: 50%;
	margin-left: 25%;
}
#readyUp{
	width: 40%;  
	text-align: center; 
	background-color: #4B4B4B; 
	color: white; 
	border-color: #4B4B4B; 
	font-weight: 800; 
	font-size: 3vw; 
	border-radius: 4px; 
	margin-left: 30%;
	height: 13%;
	margin-top: 2%;
}
#outerMsgContainer{
	border-radius: 5px; 
	width: 65%;  
	height: 55%; 
	margin: auto; 
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
	padding-top: 1vh;
}
#innerMsgContainer{
	border-radius: 5px; 
	width: 98%;
	margin: auto; 
	height: 80%;   
	background-color: white; 
	color: #4B4B4B; 
	font-size: 72px; 
	text-align: center; 
	border-color: #4B4B4B; 
}
#updateMsg, #updateMsgLobby{
	color:grey; 
	font-size: 36px; 
	text-align: center;
}
#gameHashLobby, #gameAboutToStart{
	font-size: 24px;
}
#errorMsg, #errorMsgLobby{
	color: red; 
	font-size: 24px;
}
#checkWord{
	width: 100%;  
	text-align: center; 
	background-color: #4B4B4B; 
	color: white; 
	border-color: #4B4B4B; 
	font-weight: 800; 
	font-size: 1.2vw; 
	border-radius: 4px; 
	display: inline;
}
#letterContainer{
	margin-left: 10%; 
	width: 20%; 
	float: left;
}
#challengeContainer{
	margin-left: 10%;  
	width: 20%; 
	float: left;
}
#challengeButton{
	 width: 100%;  
	 text-align: center; 
	 background-color: #4B4B4B; 
	 color: white; 
	 border-color: #4B4B4B; 
	 font-weight: 800; 
	 font-size: 1.2vw; 
	 border-radius: 4px; 
	 display: inline;
}
#outerChat{
	border-radius: 5px; 
	width: 65%; 
	margin: auto;
	height: 25vh;  
	margin-top: 1vh; 
	padding-top: 5px; 
	background-color: #E1E1E1; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 
}
#innerChat{
	overflow-y: scroll; 
	overflow-x: wrap; 
	border-radius: 5px; 
	width: 98%; 
	margin: auto; 
	height: 18vh;    
	background-color: white; 
	color: #4B4B4B; 
	border-color: #4B4B4B; 	
}
#chatMsgContainer{
	padding-top: 5px; 
	width: 98%;
	margin: auto;
}